*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
}

#container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}

.column{
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.row{
    background-color: rgba(255, 255, 255, 0.753);
    /* border: 1px solid rgb(109, 107, 107); */
    flex: 1;
}

.square{
    background-color: rgb(109, 107, 107);
}
